
		body{
			background-color: #EDA800;
		}

		.heading{
			font-family: monospace;
			float: left;
			font-size: 20px;	
		}
		
		#bar{
			text-align: right;
			background-color: #49bada;
		}

		#bar li{
			display: inline-block;
			padding: 15px 10px;
			color: white;
			font-size: 18px;
			font-weight: bold;
			letter-spacing: 2;
		}

		#logo{
			border-radius: 60%;
			padding: 70px;
			float: left;
			width: 300px;
		}

		.intro{
			font-family: monospace;
			font-size: 30px;
            height: 300px;
            width: 550px;
            float: right;
            margin-top: 70px;
            margin-right: 300px;
            color: white;
            box-shadow: 5px 5px 5px 5px black;

        }
        .headi{
        	margin-left: 15px;
        }

		.tex{
			margin: 20px;
			padding-right: 40px;
			font-family: monospace;
			font-size: 20px;
			font-weight: bold;
		}

		 .skill{
			font-family: monospace;
			font-size: 20px;
			margin: 5px;
			}


		  .card{
			padding-top: 20px;
			float: left;
            height: 300px;
            width: 225px;
            border-radius: 10px;
            margin-left: 90px;
            box-shadow: 5px 5px 20px black;
            }

            .pic{
            	width: fit-content;
            }

		.title{
			margin-left: 34%;
			font-size: 40px;
			padding: 10px;
			font-family: monospace;
		}
		.bold{
			font-size: 20px;
			font-family: monospace;
			margin-left: 350px;
			text-decoration: underline;
		}

		.con{
			font-size: 30px;
			font-family: monospace;
			margin: 200px;
 			}	